.form-group
  =f.label :name
  =f.text_field :name, class: 'form-control', autofocus: true
.form-group
  =f.label :description
  =f.text_area :description, class: 'form-control'
.btn-group
  =f.submit 'Save', class: 'btn btn-primary', title: 'Click here to save the survey'
  =link_to 'Cancel', surveys_path, class: 'btn btn-default'
