=content_for :page_title do
  New survey

-if @survey.errors.any?
  .alert.alert-warning
    The survey could not be saved because:
    %ul
      -@survey.errors.full_messages.each do |m|
        %li= m

=form_for(@survey) do |f|
  =render 'form_fields', f: f
