!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:href => "../../favicon.ico", :rel => "icon"}
    %title
      -if content_for? :site_title
        Social Survey -
        =yield :site_title
      -else
        Social Survey
    =stylesheet_link_tag 'application'
    =javascript_include_tag 'application'
    =csrf_meta_tag
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Social Survey
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            -if user_signed_in?
              %li
                =link_to 'Sign out', destroy_user_session_path, method: :delete
            -else
              %li
                =link_to 'Sign in', new_user_session_path
    .container{style: "margin-top: 3em;"}
      .page_header
        %h1#page_title=yield :page_title
      -if flash.any?
        #notifications
          -flash.each do |name, message|
            %div{ class: "alert alert-#{flash_name_to_bootstrap_class(name)}"}= message
      .row
        .col-md-10
          =yield
        .col-md-2
          =yield :side_bar
    / Placed at the end of the document so the pages load faster
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => "../../dist/js/bootstrap.min.js"}
    / IE10 viewport hack for Surface/desktop Windows 8 bug
    %script{:src => "../../assets/js/ie10-viewport-bug-workaround.js"}
